.center {
    text-align: center;
    margin-bottom: 2rem;
}

.contact__form {
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input,
textarea {
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-secondary-3);
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--font-body);
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: 2px solid var(--color-main);
}