:root {
    /* Brand Colors */
    --color-main: #007985;
    --color-primary-1: #309BA9;
    --color-primary-2: #004B82;
    /* approximate blue tone from design */
    --color-primary-3: #CAE1EA;

    /* Secondary Colors */
    --color-secondary-1: #0F0F0F;
    --color-secondary-2: #AAAAAA;
    --color-secondary-3: #EAEAEA;
    --color-white: #FFFFFF;

    /* Typography */
    --font-header: 'Lufga', sans-serif;
    --font-body: 'Poppins', Arial, Helvetica, sans-serif;
}